{% extends 'voter_analytics/base.html' %}
{% block content %}
<form action="{% url 'graphs' %}" method="get">
    <table>
        <tr>
            <th>Party</th>
            <td>
                <select name="party">
                    <option value="">Select Party</option>
                    {% for p in party %}
                        <option value="{{ p }}" {% if p == request.GET.party %}selected{% endif %}>
                            {{ p }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>Min Birth Year</th>
            <td>
                <select name="min_birth_year">
                    <option value="">Select Min Birth Year</option>
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == request.GET.min_birth_year %}selected{% endif %}>
                            {{ year }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>Max Birth Year</th>
            <td>
                <select name="max_birth_year">
                    <option value="">Select Max Birth Year</option>
                    {% for year in years %}
                        <option value="{{ year }}" {% if year == request.GET.max_birth_year %}selected{% endif %}>
                            {{ year }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>Voter Score</th>
            <td>
                <select name="voter_score">
                    <option value="">Select Scores</option>
                    {% for score in voter_scores %}
                        <option value="{{ score }}" {% if score|stringformat:"s" == request.GET.voter_score %}selected{% endif %}>
                            {{ score }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>Election Participation</th>
            <td>
                {% for election in election_fields %}
                    <input type="checkbox" name="{{ election }}" {% if request.GET.election %}checked{% endif %}>
                    <label for="{{ election }}">{{ election|title }}</label><br>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Filter"></td>
        </tr>
    </table>
</form>

<div class="row">
    {{graph_div|safe}} <!-- the |safe descriptor makes it render the code -->
</div>

<div class="row">
    {{pie_div|safe}} <!-- the |safe descriptor makes it render the code -->
</div>

<div class="row">
    {{participation_div|safe}} <!-- the |safe descriptor makes it render the code -->
</div>
{% endblock %}