{% extends 'project/base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if outfit.top.category.closet.user == user or outfit.bottom.category.closet.user == user or outfit.outerwear.category.closet.user == user or outfit.shoes.category.closet.user == user %}


<h2>Delete Outfit</h2>

<form method="POST" enctype="multipart/form-data">
    <!-- display the form (context variable) -->
    <div id="outfitForm">
        <table>
        {{ form.as_table }}

        <tr>
            <td></td>
            <p style="color:black; padding-left: 25vw; padding-right: 25vw;"> Are you sure you want to delete: "{{outfit}}" </p>
            <td>
                <button type="submit">Delete Outfit</button>
                {% csrf_token %}
            </form>
            <form method="GET" action="{% url 'show_outfits' %}">
                <button type="submit">Cancel</button>
            </form>
            </td>
        </tr>
        </table>
    </div>

<!-- NOTE: this is a separate form for canceling -->

{% else %}
<h1>This is not your closet.</h1>
{% endif %}
{% else %}
<h1>This is not your closet.</h1>
{% endif %}
{% endblock %}
