{% extends 'project/base.html' %}

{% block content %}

{% if user.is_authenticated and user == category.closet.user %}
<h1>Showing {{ category }}</h1>

<nav>
    <ul>
        <a href="{% url 'create_clothes' category.pk %}" class="mini_fb_button">
            Add a piece to {{ category }}</a>
        <a href="{% url 'show_closet' pk=category.closet.pk %}" class="mini_fb_button">Back to Closet</a>
    </ul>
</nav>

<main class="grid-container">
    {% for clothes in category.get_clothes %}
    <article class="clothes-item">
        <div class="clothes-details">
            <h2>
                <a href="{% url 'show_clothes' clothes.pk %}" class="mini_fb_button">{{ clothes.color }} {{ clothes.brand }}</a>
            </h2>
            <h3>Price paid: {{ clothes.price }}</h3>
            <h3>Size: {{ clothes.size }}</h3>
        </div>
        {% if clothes.image %}
        <div class="clothes-image">
            <img src="{{ clothes.image.url }}" alt="Image of {{ clothes.color }} {{ clothes.brand }}">
        </div>
        {% endif %}
    </article>
    {% endfor %}
</main>

{% else %}
<h1>This is not your closet.</h1>
{% endif %}

{% endblock %}
