
<html>
    <head>
        <title>Mini FB</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/esliu/cs412_hw3statics/css/minifbStyles.css">
    </head>
    <body>
    <nav>
        <ul>
            <!-- use the scriptlet URL function to look up a URL by name -->
            <a href="{% url 'show_all' %}" class="mini_fb_button">Home</a>
            

            {% if request.user.is_authenticated %}
            <p>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="mini_fb_button" style="border:none; text-decoration:underline; cursor:pointer; height: 28px; font-size: 14px;">Log Out</button>
                </form>
            </p>

            {% else %}
            <a href="{% url 'create_profile' %}" class="mini_fb_button">Create Profile</a>

            <p>
                <a href="{% url 'login' %}" class="mini_fb_button">Login</a>
            </p>
            
            {% endif %}

        </ul>


    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

   
    </body>
</html>