
<html>
    <head>
        <title>Mini FB</title>
        <link rel="stylesheet" href="https://cs-people.bu.edu/esliu/cs412_hw3statics/css/minifbStyles.css">
    </head>
    <body>
    <nav>
        <ul>
            <!-- use the scriptlet URL function to look up a URL by name -->
            <a href="{% url 'show_all' %}" class="mini_fb_button">Home</a>
            <a href="{% url 'create_profile' %}" class="mini_fb_button">Create Profile</a>
        </ul>
    </nav>

    {% block content %}
    <!-- put the interesting (specific stuff) here -->
    {% endblock %}

   
    </body>
</html>