{% extends 'mini_fb/base.html' %}
{% block content %}

<h2> Delete Status Message </h2>

<form method="POST" enctype="multipart/form-data">
    <!-- display the form (context variable) -->
    <!-- {{form}} -->

    <!-- display as paragraphs -->
    <!-- {{form.as_p}} -->
    <div id = "profileForm">
        <table>
        {{form.as_table}}

        <tr>
            <td></td>
            <p style="color:black; padding-left: 25vw; padding-right: 25vw;"> Are you sure you want to delete: "{{status_message.message}}" </p>
            <td>
                <!-- we need to add the submit button ourselves -->
                <button type="submit"> Delete </button>
                {% csrf_token %}
            </form>
            <form method="GET" action="{% url 'profile_page' pk=status_message.profile.pk %}">
                <button type="submit"> Cancel </button>
            </form>
        </td>
        </tr>
        </table>
    </div>

{% endblock %}