{% extends 'mini_fb/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="{% url 'profile_page' profile.pk %}" class="mini_fb_button">My Profile</a>
{% endif %}
<h1>Showing all Profiles</h1>

<main class="grid-container"> <!-- was <div> -->
    {% for p in profiles %}
    <article> <!-- was <div> -->

        <a href="{% url 'profile_page' pk=p.pk %}">

            <img src="{{p.image_file.url}}" alt="{{p.image_file.url}}">

        </a>

        <div> <!-- added this! -->
            <h2>{{p.firstName}} {{p.lastName}}</h2>
            <h3> Lives in {{p.city}}</h3>
            <p>
                Email: {{p.email}}
            </p>       
        </div> <!-- added this! -->
 
    </article> <!-- was <div> -->
    {% endfor %}
</main> <!-- was <div> -->

{% endblock %}