{% extends 'quotes/base.html' %}

{% block content %}
    <div class = "about">
        <h1>About Steve Jobs</h1>
        <p>
            Steve Paul Jobs is an American Inventor and Entrepreneur who is most well known for cofounding the company Apple Inc.
            He later became the CEO of Apple, and inspired millions with his forward thinking and design ethos. Under his leadership
            at Apple, iconic and life-changing products such as the iPhone, iPod, iPad, and Mac Computers were created.
        </p>
        <h4> Note About the Creator of the Website</h4>
        <p>
            Made by Ethan Liu, a senior at Boston University studying Computer Science, for his CS412 homework assignment
        </p>
    </div>
{% endblock %}